{deps, [
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}},
	{oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git"}},
	{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git"}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
       ]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{erl_first_files, ["src/behaviousr/*.erl"]}.

{src_dirs, ["src/data_structures",
            "src/plugins",
            "src/commands",
            "src"]}.
