{deps, [
	{jsonx, ".*", {git, "https://github.com/iskra/jsonx.git"}},
	{oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git"}},
	{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git"}}
       ]}.

{erl_first_files, ["src/behaviousr/*.erl"]}.

{src_dirs, ["src",
            "src/modules"]}.
