{deps, [
	{jsonx, ".*", {git, "https://github.com/iskra/jsonx.git"}},
	{oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git"}},
	{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git"}}
       ]}.

{erl_opts, [
	   {i, "include"},
	   {src_dirs, ["src", 
		       "src/modules",
		       "src/plugins",
		       "src/behaviours"]}
	   ]}.
